.dignity{
  background-color: #567C8B;
  padding-top: 5.5rem;
  padding-bottom: 4.9rem;
  color: #fff;
  &__container{
    max-width: 1345px;
    margin: 0 auto;
  }
  &__title{
    font-family: 'Spectral';
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    @include desktop-sm{
      font-size: 40px;
    }
  }
  &__wrap{
    @include desktop-md{
      display: flex;
      justify-content: space-between;
    }
    
  }
  &__block{
    @include desktop-md{
      display: flex;
      width: 27%;
    }
    
  }
  &__img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
    margin-top: 20px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__content{
    width: calc(100% - 92px);
  }
  h3{
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px;
  }
}