.section-form{
    margin: 64px 16px;
    @include desktop-sm{
        margin: 112px 32px;
    }
    &__wrap{
        max-width: 1252px;
        margin: 0 auto;
        @include desktop-sm{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__banner{
        @include desktop-sm{
            width: 45%;
        }
    }
    &__form{
        padding-top: 56px;
        @include desktop-sm{
            width: 45%;
            padding-top: 0;
        }
    }
    &__text{
        font-size: 14px;
        text-align: center;
        @include desktop-sm{
            text-align: left;
        }
    }
    .tab-content__input{
        margin-bottom: 32px;
        input{
            margin-bottom: 0;
        }
    }
    .popup__submit{
        margin: 30px 0;
    }
    
}