.section-logos{
  background: #EDECEE;
  padding: 40px 100px;
  margin-bottom: 32px;
  &__container{
    max-width: 1345px;
    margin: 0 auto;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img{
    img{
      max-height: 34px;
    }
  }
  p{
    font-size: 24px;
    font-style: italic;
  }
}