.section-text{
  background-color: #F4F5F6;
  padding: 48px 23px;
  text-align: center;
  @include tablet{
    padding: 70px 23px;
  }
  @include desktop-md{
    padding: 125px 23px 112px;
  }
  &__container{
    max-width: 880px;
    margin: 0 auto;
  }
  &__title{
    font-size: 32px;
    font-family: 'Spectral';
    font-weight: 600;
    margin-bottom: 24px;
    @include tablet{
      font-size: 42px;
      margin-bottom: 28px;
    }
    @include desktop-md{
      font-size: 48px;
    }
  }
  p{
    margin-bottom: 1.3rem;
  }
  &__content{
    a{
      text-decoration: underline;
      color: #567c8b;
    }
  }
  &_entered{    
    @include desktop-md{
      padding: 70px 23px 50px;
    }
    .section-text__container{
      max-width: 1000px;
    }
    .section-text__content{
      @include tablet{
        font-size: 18px;
      }
    }
  }
  &_padding{
    padding: 32px 22px 15px;
    p{
      @include desktop-md{
        font-size: 18px;
      }
    }
  }
  &_white{
    background-color: #fff;
  }
  &_big-container{
    max-width: 1030px;
  }
  &_mini-container{
    max-width: 600px;
  }
}