.section-content{
    max-width: 1300px;
    margin: 0 auto;
    &__wrap{
        padding: 70px 15px;
        @include desktop-md{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__context{
        @include desktop-md{
            width: calc(100% - 310px);
        }
    }
    p{
        text-align: center;
        @include desktop-md{
            text-align: left;        
        }
    }
    &__text-bottom{
        margin-bottom: 32px;
        @include tablet{
            margin-bottom: 48px;
        }
    }
    &__img{
        margin-bottom: 32px;
        @include tablet{

        }
    }
    &__text-strong{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__text-answer{
        margin-bottom: 32px;
        @include tablet{
            margin-bottom: 64px;
        }
        strong{
            font-weight: 600;
        }
    }
    ol li{
        margin-bottom: 20px;
    }
}