.section-service{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px 64px;
  
  @include tablet{
    padding: 60px 15px 108px;
  }
  &__title{
    font-size: 32px;
    font-family: 'Spectral';
    font-weight: 600;
    text-align: center;
    @include tablet{
      font-size: 42px;
      margin-bottom: 20px;
    }
    @include desktop-md{
      font-size: 48px;
    }
  }
  &__entered{
    padding: 0 15px;
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 27px;
  }
  &__cards{
    margin-bottom: 32px;
    @include tablet{
      margin: 56px -16px 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__card{
    text-align: center;
    padding: 53px 33px 40px;
    background: #EDECEE; 
    margin-top: 16px; 
    width: 100%;
    @include mobile-md{
      max-width: 330px;
      margin: 16px auto 0;
    }
    @include tablet{
      padding: 60px 33px 47px;
      margin: 16px;
    }
    @include wide-screen-md{
      margin: 0 16px;
      max-width: 31%;
    }
    p{
      max-width: 264px;
      margin: 0 auto;
    }
  }
  &__number{
    color: #575D61;
    margin-bottom: 32px;
    font-family: 'open sans';
    font-size: 56px;
    font-weight: 800;
    @include tablet{
      margin-bottom: 48px;
      font-size: 64px;
    }
  }
  &__name-service{
    color: #DEB299;
    font-size: 24px;
    font-family: 'Spectral';
    font-weight: 800;
    margin-bottom: 8px;
    @include tablet{
      font-size: 32px;
    }
  }
  &__buttons{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .button{
      padding: 15px;
      margin: 0 6px;
      width: 100%;
      max-width: 160px;
      @include tablet{
        max-width: 184px;
        margin: 0 8px;
      }
    }
  }
  &_big-cards{
    @include tablet{
      padding: 16px 15px 32px;
    }
    .section-service__cards{
      @include wide-screen-md{
        margin: 0 -16px;
      }
    }
    .section-service__card{
      @include wide-screen-md{
        max-width: 437px;
        width: 31%;
        margin: 16px;
        margin-bottom: 0;
      }
      
    }
  }
}