.section-transition{
  background: #567C8B;
  padding: 51px 36px 48px;
  text-align: center;
  @include tablet{
    padding: 90px 65px 80px;    
  }
  &__title{
    font-size: 32px;
    color: #fff;
    margin-bottom: 38px;
    @include tablet{
      font-size: 40px;  
      margin-bottom: 48px; 
    }
    @include desktop-md{
      font-size: 48px;   
      margin-bottom: 62px;
    }
  }
  &__button{
    padding: 10px 73px;    
    font-size: 14px;
    @include tablet{
      padding: 15px 61px;
    }
    @include desktop-md{
      font-size: 18px;
    }
    &_big{
      padding: 15px 110px;
    }
  }
}