.tabs{
  display: flex;
  margin: 0 40px 112px;
}
.tab {
  overflow: hidden;
  margin: -16px 16px;
  button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    &:hover{
      background-color: #ddd;
    }
    &.active{
      background-color: #ccc;
    }
  }
  &__img{
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin: 16px 0;
  }
  &__content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: none;
    border-top: none;
  }
  &__content-img{
    width: 620px;
    height: 620px;
  }
  &__block{
    padding: 0 40px;
    width: calc(100% - 620px);
  }
  &__title{
    font-size: 40px;
  }
  &__price{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Spectral',serif;
    margin-bottom: 40px;
  }
  &__starts{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 14px;
    margin-bottom: 16px;
    img{
      padding: 0 2px;
    }
    span{
      padding-left: 6px;
    }
  }
  &__text{
    margin-bottom: 48px;
  }
  &__button{
    margin-bottom: 26px;
  }
  &__check{
    display: flex;
    align-items: center;
    img{
      display: block;
      margin-right: 8px;
    }
    p{
      margin: 0;
    }
  }
}
