.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  input[type="file"] {
    display: none;
  }

  &__body {
    margin-right: 20px;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__file-name {

  }
  &__remove-btn {
    border: none;
    background-color: transparent;
    padding: 0 0 0 12px;
  }
}