.btn-green  .btn__promo-bottom{
       color:white; 
}
.button{
       padding: 15px 50px;
       background: #8BA4B4;
       border-radius: 5px;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 18px;
       font-weight: bold;
       text-align: center;
       color: #fff;
       display: inline-block;
}