.btn-green  .btn__promo-bottom{
       color:white; 
}
.button{
       padding: 15px 50px;
       background: #8BA4B4;
       border-radius: 5px;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 18px;
       font-weight: bold;
       text-align: center;
       color: #fff;
       display: inline-block;
       border: 1px solid transparent;
       transition: .3s background;
       &:hover{
              color: #8BA4B4;
              background: #fff;
              border: 1px solid #8BA4B4;
       }
}