.btn-green  .btn__promo-bottom{
       color:white; 
}
.button{
       padding: 12px 50px;
       background: #8BA4B4;
       border-radius: 5px;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 14px;
       font-weight: bold;
       text-align: center;
       color: #fff;
       display: inline-block;
       border: 1px solid transparent;
       transition: .3s background;
       @include tablet{
              padding: 15px 50px;
              font-size: 18px;
       }
       &:hover{
              color: #8BA4B4;
              background: #fff;
              border: 1px solid #8BA4B4;
       }
       &__light{
              background: #fff;
              color: #2F353A;
              &:hover{
                     color: #fff;
                     background: #8BA4B4;
                     border: 1px solid #fff; 
              }
              &_br-none{
                     border-radius: 0;
              }
       }
       &__light_border{
              background: #fff;
              color: #575D61;
              border: 1px solid #575D61;
              &:hover{
                     color: #fff;
                     background: #575D61;
                     border: 1px solid #fff; 
              }
       }
       &__gray{
              background: #EDECEE;
              border: 1px solid #575D61;
              color: #575D61;
              &:hover{
                     background: #575d61;
                     color: #fff;
              }
       }
       &__green-opacity{
              background: rgba($color: #7A8A6A, $alpha: .5);
              opacity: 50;
       }
       &__blue-opacity{
              background: #61AEB8;
              opacity: 50;
       }
       &__blue-gray-opacity{
              background: rgba($color: #547D8C, $alpha: .5);
              opacity: 50;
       }
       &__light-orange-opacity{
              background: #FBB695;
       }
       &__orange{
              background: rgba($color: #D69D57, $alpha: .7);            
              &:hover{
                     border: 1px solid #D69D57;
                     color: #D69D57;
              }
       }
       &__gray-dark{
              background: transparent;
              border: 1px solid #fff;
              &:hover{
                     background: #567C8B;
                     color: #fff;
              }
       }
       &__khaki{
              background: rgba($color: #5A6865, $alpha: .7);            
              &:hover{
                     border: 1px solid #5A6865;
                     color: #5A6865;
              }
       }
}